.R-footer-container{
    background-color: #181818;
    width: 100vw;
    padding-left: 7rem;
    height: auto;
    overflow-x: hidden;
}

.content {
    width: 100%;
}

ul {
    list-style: none;
    color: #737373;
    text-align: left;
    padding: 0;
}

.R-question {
    color: #737373;
    margin: 0px 0px 30px;
    font-size: 16px;
}

.R-columns-container {
    display: flex;
    gap: 3rem;
}

li {
    margin: 0px 0px 16px;
    padding: 0px 22px 0px 0px;
    font-size: 13px;
    height: 17px;
}

.R-language-selections {
    margin: 20px 0px 0px;
}

.fa-globe{
    color: #fff;
    background-color: #fff;
}

.R-l-selections {
    background: #000000;
    padding-right: 26px;
    color: #737373;
    font-size: 13px;
    text-indent: 0;
    line-height: 1.7;
    border: 1px solid #333;

}

.R-last-part {
    color: #737373;
    font-size: 13px;
    margin: 24px 0px 13px;

}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.R-last-part:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 812px) {

    li {
        white-space: nowrap;
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {

    .R-footer-container {
        padding-left: 1rem;
    }

    .R-columns-container {
        gap: 1rem;
    }

    li {
        font-size: 11.5px;
    }
}

@media (max-width: 504px) {

    .R-columns-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    li {
        text-align: center;
        font-size: 22px;
    }

    ul {
        margin-bottom: 3rem;
    }
}