.intro {
  color: #fff;
  margin-left: 5rem;
  margin-bottom: 4rem;
  width: 100%;
  text-align: left;
}

.intro h1 {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 3rem;
  margin-top: 10rem;
}
.intro p {
  font-size: 3rem;
  font-weight: 500;
  width: 50%;
}
@media (max-width: 950px) {
  .intro p {
    font-size: 3rem;
    font-weight: 500;
    width: 80%;
  }
}
@media (max-width: 480px) {
  .intro p {
    font-size: 2rem;
  }
  .intro h1 {
    font-size: 3rem;
  }
}
